<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ung Dung Quan Ly Sach</title>
  <link th:replace="layout :: link-css"/>
</head>
<body>
<div th:replace="layout :: header"></div>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:8080/books">
       Quan Ly Sach ket noi co so du lieu
      </a>
    </div>
  </nav>
</div>
</body>
</html>